.bg{
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 100%;
}

.photo{
    position: absolute;
    right: 5%;
    width: 50%;
    height: auto;
}

.mt{
    margin-top: 13%;
}

/* .wrp{
    width: 80%;
    height: auto;
} */

.photo2{
    width: 20%;
    margin-top: 5%;
    margin-left: 8%;
    float: left;
}

.m-intro{
    margin-top: 15%;
    margin-left: 10%;
}

.about{
    float: left;
    margin-top: 7%;
    margin-left: 4%;
    width: 60%;
    height: fit-content;
}

.bg-exp{
    padding-top: 1%;
    background-color: grey;
    margin-top: 6%;
    padding-bottom: 3%;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
    margin-left: 49%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.exp{
    width: 40%;
}

#ui{
    position: absolute;
    left: 55%;
    top: 20%;
}

#typist{
    position: absolute;
    left: 5%;
    top: 37%;
    text-align: right;
}

#cs{
    position: absolute;
    left: 55%;
    top: 53%;
}

#council{
    text-align: right;
    position: absolute;
    left: 5%;
    top: 65%;
}

.v-line{
    border-left: 5px solid white;
    height: 380px;
    position: absolute;
    margin-left: 11px;
    left: 49%;
    top: 29%;
}

#design{
	display: none;
}

.btnProject{
    width: 45%;
	border: none;
	background: none;
    text-align: center;
	color: darkgrey;
    cursor: pointer;
    padding: 1% 0 1% 0 ;
}

#devBtn{
    color: #2c3f52;
    font-weight: bold;
    border-bottom: 3px solid #2c3f52;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 7px;
}

.fa:hover {
    opacity: 0.7;
}

  /* Set a specific color for each brand */

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-whatsapp {
    background: #23e754;
    color: white;
}

#contact a{
    text-decoration: none;
}

.typewriter {
    overflow: hidden;
    position: relative;
    border-right: 2px solid tomato;
    font-size: 38px;
    white-space: nowrap;
  
    animation: typewriter 3s steps(50) 1s 1 normal both,
    blinkTextCursor 400ms steps(50) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 140%;
    }
  }
  
  @keyframes blinkTextCursor {
  
    from {
      border-right-color: tomato;
    }
  
    to {
      border-right-color: transparent;
    }
  
  }

#navbar{
    transition: top 0.3s;
}

@media only screen and (max-width: 600px) {
    .typewriter {
        font-size: 1.6rem;
    }

    .bg {
        height: 460px;
    }

    .m-intro {
        width: 200px;
    }

    .photo {
        top:34%;
        width: 60%;
    }

    #about {
        width: 100%;
    }

    .photo2 {
        margin-top: 30px;
        width: 20%;
    }

    .bg-exp{
        padding-top: 1%;
        background-color: grey;
        margin-top: 6%;
        padding-bottom: 3%;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: block;
        margin-left: 49%;
        margin-top: 30%;
        margin-bottom: 30%;
    }
    
    .exp{
        width: 40%;
        font-size: small;
    }
    
    #ui{
        position: absolute;
        left: 55%;
        top: 20%;
    }
    
    #typist{
        position: absolute;
        left: 5%;
        top: 37%;
        text-align: right;
    }
    
    #cs{
        position: absolute;
        left: 55%;
        top: 53%;
    }
    
    #council{
        text-align: right;
        position: absolute;
        left: 5%;
        top: 65%;
    }
    
    .v-line{
        border-left: 5px solid white;
        height: 52%;
        position: absolute;
        margin-left: 11px;
        left: 49%;
        top: 25%;
    }

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .bg {
        height: 590px;
    }

    .m-intro {
        width: 200px;
    }

    .typewriter {
        font-size: 28px;
    }


    #about {
        width: 100%;
    }

    .photo2 {
        margin-top: 80px;
    }

    .bg-exp{
        padding-top: 1%;
        background-color: grey;
        margin-top: 6%;
        padding-bottom: 3%;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: block;
        margin-left: 49%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .exp{
        width: 40%;
    }
    
    #ui{
        position: absolute;
        left: 55%;
        top: 20%;
    }
    
    #typist{
        position: absolute;
        left: 5%;
        top: 37%;
        text-align: right;
    }
    
    #cs{
        position: absolute;
        left: 55%;
        top: 53%;
    }
    
    #council{
        text-align: right;
        position: absolute;
        left: 5%;
        top: 65%;
    }
    
    .v-line{
        border-left: 5px solid white;
        height: 190px;
        position: absolute;
        margin-left: 11px;
        left: 49%;
        top: 29%;
    }

  }

  @media only screen and (min-width: 768px) {
    .bg {
        height: 590px;
    }

    .photo {
        top:16%;
    }

    .typewriter {
        font-size: 1.6rem;
    }


    #about {
        width: 100%;
    }

    .photo2 {
        margin-top: 80px;
    }

    .bg-exp{
        padding-top: 1%;
        background-color: grey;
        margin-top: 6%;
        padding-bottom: 3%;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: block;
        margin-left: 49%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .exp{
        width: 40%;
    }
    
    
    .v-line{
        border-left: 5px solid white;
        height: 49%;
        position: absolute;
        margin-left: 11px;
        left: 49%;
        top: 29%;
    }
  }

  @media only screen and (min-width: 992px) {
    .bg{
        height: 100%;
    }
    
    
    .mt{
        margin-top: 13%;
    }
    
    /* .wrp{
        width: 80%;
        height: auto;
    } */
    
    .photo2{
        width: 20%;
        margin-top: 5%;
        margin-left: 8%;
        float: left;
    }
    
    .m-intro{
        margin-top: 15%;
        margin-left: 10%;
    }
    
    .about{
        float: left;
        margin-top: 7%;
        margin-left: 4%;
        width: 60%;
        height: fit-content;
    }
    
    .bg-exp{
        padding-top: 1%;
        background-color: grey;
        margin-top: 6%;
        padding-bottom: 3%;
    }
    
    .dot {
        height: 25px;
        width: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        display: block;
        margin-left: 49%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .exp{
        width: 40%;
    }
    
    #ui{
        position: absolute;
        left: 55%;
        top: 20%;
    }
    
    #typist{
        position: absolute;
        left: 5%;
        top: 37%;
        text-align: right;
    }
    
    #cs{
        position: absolute;
        left: 55%;
        top: 53%;
    }
    
    #council{
        text-align: right;
        position: absolute;
        left: 5%;
        top: 65%;
    }
    
    .v-line{
        height: 45%;
    }
    
    #design{
        display: none;
    }
    
    .btnProject{
        width: 45%;
        border: none;
        background: none;
        text-align: center;
        color: darkgrey;
        cursor: pointer;
        padding: 1% 0 1% 0 ;
    }
    
    #devBtn{
        color: #2c3f52;
        font-weight: bold;
        border-bottom: 3px solid #2c3f52;
    }
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 70px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        margin: 5px 7px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
      /* Set a specific color for each brand */
    
      /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    
    .fa-linkedin {
        background: #007bb5;
        color: white;
    }
    
    .fa-instagram {
        background: #125688;
        color: white;
    }
    
    .fa-whatsapp {
        background: #23e754;
        color: white;
    }
    
    #contact a{
        text-decoration: none;
    }
}
